.themeColorToggleWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.themeColorToggle {
    height: 15px;
    width: 25px;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 10px;
    background: transparent;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.themeColorToggle:before {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--color-secondary-dark);
    top: 0px;
    display: block;
    position: absolute;
    transition: all .4s;
    transform: translateX(0);
}
.themeColorToggleIcon {
    font-size: 18px;
    transform: rotate(-45deg);
    color: var(--color-secondary-dark);
}

:global(.theme-dark) .themeColorToggle {
    border: 1px solid var(--color-secondary-dark);
}
:global(.theme-dark) .themeColorToggle:before {
    /*left: 0;*/
    /*right: unset;*/
    transform: translateX(0);
    background-color: var(--color-secondary-dark);
}
:global(.theme-dark) .themeColorToggleIcon {
    color: var(--color-secondary-dark);
}

:global(.theme-light) .themeColorToggle {
    border: 1px solid var(--color-secondary-light);
}
:global(.theme-light) .themeColorToggle:before {
    /*left: unset;*/
    /*right: 0;*/
    transform: translateX(76%);
    background-color: var(--color-secondary-light);
}
:global(.theme-light) .themeColorToggleIcon {
    color: var(--color-secondary-light);
}
