.listingGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    gap: 2rem;
    box-sizing: border-box;
}
.listingItem {
    position: relative;
    padding: 20px 10px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.listingItemImg {
    width: 100%;
    height: 350px;
}
.listingItem img {
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.listingItemTitle {
    color: #e1eeeb;
    text-decoration: none;
}
.showDetailsIcon {
    position: absolute;
    height: 30px;
    width: auto;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.showDetailsIcon img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 767px) {
    .listingItemImg {
        height: 250px;
    }
}