.listingGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.listingItem {
    position: relative;
}
.listingItemImg {
    width: 100%;
    height: 350px;
}
.listingItem img {
    width: auto;
    height: 100%;
    object-fit: contain;
}
.showDetailsIcon {
    position: absolute;
    height: 30px;
    width: auto;
    right: 40px;
    top: 10px;
    cursor: pointer;
}
.showDetailsIcon img {
    width: auto;
    height: 100%;
    object-fit: contain;
}