.favButton {
    display: inline-block;
    /*position: absolute;*/
    top: 14px;
    right: 50px;
    cursor: pointer;
}
.favButton svg {
    width: auto;
    height: 15px;
    fill: #e1eeeb;
}

.favButton.active svg,
.favButton:hover svg {
    fill: #c02121;
}
