.book-single-wrapper {
    margin: auto;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}
.book-single-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}
.book-single-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.book-single-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.book-single-image img {
    width: auto;
    max-width: 100%;
    max-height: 600px;
    object-fit: contain;
}
.book-single-body {
    max-width: 600px;
    margin: auto;
    padding: 40px 0;
    text-align: left;
}
.taxonomy-list {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.book-single-delete-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .book-single-row {
        flex-direction: column;
        align-items: center;
    }
    .book-single-body {
        padding: 20px 0;
    }
}