@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(#186a5e, #053339);
    color: #e1eeeb;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #e1eeeb;
}
a:hover {
    color: #f57eb6;
}

input,
textarea,
select {
    background: rgba(0, 0, 0, .2);
    color: #fff;
    padding: 10px;
    border: none;
    outline: unset;
}
input {
    height: 40px;
}
input::placeholder,
textarea::placeholder {
    color: #fff;
}
textarea {
    min-height: 120px;
}
select {
    min-width: 250px;
    height: 40px;
}

.h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25px;
}
.h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.wrapper-1020 {
    width: 100%;
    max-width: 1020px;
    margin: auto;
}
.wrapper-1220 {
    width: 100%;
    max-width: 1220px;
    padding: 0 20px;
    margin: auto;
}
.spacer {
    height: 2rem;
}
@media (max-width: 1040px) {
    .wrapper-1020 {
        padding: 0 20px;
    }
}
.imageContain {
    object-fit: contain!important;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000094;
}
.pt-1rem {
    padding-top: 1rem;
}
.pb-1rem {
    padding-bottom: 1rem;
}
.mt-1rem {
    margin-top: 1rem;
}
.mb-1rem {
    margin-bottom: 1rem;
}
.d-flex {
    display: flex;
}
.flex-justify-start {
    justify-content: flex-start;
}
.flex-justify-end {
    justify-content: flex-end;
}
.flex-justify-center {
    justify-content: center;
}

.btn {
    height: 40px;
    min-width: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffffff;
    background-color: #000000;
    outline: none;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    transition: all .2s;
}
.btn:focus {
    outline: none;
}
.btn:hover,
.btn.active {
    background-color: #e1eeeb;
    color: #000000;
}
/*.btn.disabled,*/
/*.btn:disabled {*/
/*    background-color: rgba(0, 0, 0, .5);*/
/*}*/
.btn.disabled:hover,
.btn:disabled:hover {
    background-color: rgba(255, 255, 255, .5);
    color: #ffffff;
}
.paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 2rem;
}
.paginationLink {
    height: 40px;
    min-width: 40px;
}
.paginationLink.active {
    background-color: #e1eeeb;
    color: #000000;
}

/*HEADER*/
.header {
    background-color: #000;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}
.header-spacing {
    /*height: 60px;*/
}
.header-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-logo {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}
.header-logo img {
    width: auto;
    height: 100%;
    object-fit: contain;
}
.header-nav-desktop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
}
.header-nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
    /*position: relative;*/
}
.header-nav-list.favourites a {
    margin-bottom: -5px;
}
.header-nav-list a,
.header-nav-list button {
    text-decoration: none;
    color: #e1eeeb;
    font-size: 18px;
    font-weight: 800;
}
.header-nav-list a:hover {
    color: #f57eb6;
    text-decoration: underline;
}
.header-nav-list svg {
    fill: #e1eeeb;
    transition: all .2s;
}
.header-nav-list.favourites svg {
    width: 24px;
    height: 24px;
}
.header-nav-list.cart {
    cursor: pointer;
    position: relative;
}
.header-nav-list.cart svg {
    width: 30px;
    height: 30px;
}
.header-nav-list.cart:hover svg {
     fill: #f57eb6;
}
svg.animate-pumping {
    animation: heart-pumping .6s linear 1;
}
.header-nav-list a:hover svg {
    fill: #f57eb6;
}
.link-count {
    position: absolute;
    top: -3px;
    right: -7px;
}

.menu-burger {
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
.menu-burger.closed {
    background-image: url('./assets/images/burger-806722.svg');
}
.menu-burger.open {
    background-image: url('./assets/images/cross-1364737.svg');
}
.mobile-menu {
    width: 100%;
    max-width: 410px;
    height: 80vh;
    overflow: auto;
    position: fixed;
    right: -100%;
    top: 54px;
    transition: all .3s;
    z-index: 100;
    background-color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mobile-menu .header-nav-list {
    flex-direction: column;
    align-items: flex-start;
}
.mobile-menu.open {
    right: 0;
}

@keyframes heart-pumping {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        fill: #c02121;
    }
    100% {
        transform: scale(1);
    }
}
/*.menu-burger svg {*/
/*    width: 20px;*/
/*    height: auto;*/
/*}*/
@media (max-width: 940px) {
    .header-logo {
        height: 34px;
    }
    .header-inner {
        justify-content: flex-end;
        padding: 10px 20px;
        gap: 10px;
    }
    .menu-burger {
        display: flex;
    }
    .header-nav-desktop {
        display: none;
    }
}

/*Form*/
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.formCreateTerm {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.formCreateTerm input {
    flex: 1;
}
.formCreateTerm .btn {
    /*min-width: unset;*/
}
.formInner {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 40px;
}
.formField {
    width: 100%;
}
.formFieldInput {
    width: 100%;
    height: 40px;
}
select {
    background: #000;
    color: #e1eeeb;
    min-width: 250px;
    height: 40px;
}
.btnSubmit {
    width: 100%;
}
.form-row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
.form-input-50 {
    min-width: 50%;
}
.form-input-flex-1 {
    flex: 1;
}

/*Accordion Item*/
.accordion-wrapper {
    width: 100%;
}
.accordion-item {
    width: 100%;
}
.accordion-item-title {
    width: 100%;
    text-align: left;
    cursor: pointer;
    position: relative;
}
.accordion-item-title:before {
    content: '+';
    right: 10px;
    top: calc(50% - 12px);
    /* width: 17px; */
    /* height: 22px; */
    position: absolute;
    font-size: 20px;
    line-height: 1;
}
.accordion-item-content {
    width: 100%;
    height: auto;
    transition: all .5s;
    overflow: hidden;
    text-align: left;
}
.accordion-item-content.open {
    max-height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.filters .accordion-item-content.open {
    max-height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.accordion-item-content.close {
    max-height: 0;
    padding: 0;
}


/*Accordion*/
/*basic*/
.accordionBtn {
    position: relative;
}
.accordionBtn:before {
    /*transition-duration: 0.2s;*/
}
.accordionBtn:before {
    content: '+';
    right: 10px;
    top: calc(50% - 12px);
    /* width: 17px; */
    /* height: 22px; */
    position: absolute;
    font-size: 20px;
    line-height: 1;
}
.accordionBtn.active:before {
    content: '—';
    font-size: 17px;
    /* top: 28px; */
    top: calc(50% - 11px);
}
.accordionPanel {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    overflow: auto;
}
.accordionPanel.active {


}

/*Custom Checkbox*/
.checkboxWrapper {
    width: 100%;
    padding: 9px;
    position: relative;
    background-color: #e1eeeb;
    color: #000;
}
.checkboxBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.checkboxBody.accordionPanel {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e1eeeb;
    color: #000;
    padding: 0 8px;
    z-index: 10;
}
.checkboxLabel {
    padding: 5px 0;
}
.checkboxLabel:first-child {
    padding-top: 10px;
}

/*Custom Checkbox*/
.custom-checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.custom-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    background-color: #e1eeeb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}
.custom-checkbox-wrapper input {
    display: none;
}
.custom-checkbox-icon {
    transform: scale(0);
    transition: all .2s;
    font-size: 14px;
}
.custom-checkbox-icon.checked {
    transform: scale(1);
    color: #000;
}

/*ImagePicker*/
.image-picker-custom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.image-picker-preview {
    width: 100px;
    height: 100px;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.3);;
}
.image-picker-input {
    display: none;
}


/*sorting*/
.sorting {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
}
/*filters*/
.filters {
    padding: 40px 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
}
.filtersItem {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.filtersTitle {
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.loading-indicator-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-indicator {
    width: 50px;
    height: 50px;
    border: 8px solid;
    border-radius: 50%;
    border-left-color: #e1eeeb;
    border-bottom-color: #e1eeeb;
    border-top-color: #e1eeeb;
    border-right-color: transparent;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Flex styles*/
.align-self-end {
    align-self: flex-end;
}
.align-self-start {
    align-self: flex-start;
}
.align-self-center {
    align-self: center;
}

/*Slideshow*/
.slideshow-wrapper {
    width: 100%;
    min-height: 400px;
    position: relative;
}
.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.slideshow > div {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /*transform: scale(1.1) translateX(-1rem) rotate(-5deg);*/
    transform: scale(1.1) translateX(-1rem);
    transition: all 0.5s ease-in-out;
}
.slideshow .active {
    z-index: 1;
    opacity: 1;
    position: relative;
    /*transform: scale(1) translateX(0) rotate(0);*/
    transform: scale(1) translateX(0);
}
.slider-arrow {
    height: 100%;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    color: #e1eeeb;
    background-color: rgba(0, 0, 0, .5);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .2s;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    top: 0;
}
.slider-arrow svg {
    width: 25px;
    height: 25px;
    fill: #e1eeeb;
    transition: all .2s;
}
.slider-arrow:hover {
    background-color: #e1eeeb;
}
.slider-arrow:hover svg {
    fill: #000;
}
.slider-arrow-prev {
    left: 0;
    /*top: calc(50% - 20px);*/
}
.slider-arrow-next {
    right: 0;
    /*top: calc(50% - 20px);*/
}

@media (max-width: 767px) {
    .slideshow-wrapper {
        padding-bottom: 40px;
    }
    .slider-arrow {
        top: calc(100% - 40px);
        height: 40px;
    }
    .slider-arrow-prev {
        left: calc(50% - 40px);
    }
    .slider-arrow-next {
        right: calc(50% - 40px);;
    }
}

/*Hero banner*/
.hero-banner {
    width: 100%;
    min-height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-banner-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.hero-banner-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-banner-image .overlay {
    z-index: 1;
}
.hero-banner-content {
    max-width: 800px;
    margin: auto;
    position: relative;
    z-index: 1;
    padding: 40px 10px;
}
.hero-banner-description {
    margin-bottom: 20px;
}

/*Footer*/
footer {
    background-color: #000;
    color: #fff;
    padding: 3rem 0;
    text-align: center;
}

/*Section*/
section {
    padding: 2rem 0;
}