@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(#186a5e, #053339);
    color: #e1eeeb;
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper-1220 {
    width: 100%;
    max-width: 1220px;
    padding: 0 20px;
    margin: auto;
}
.imageContain {
    object-fit: contain!important;
}